*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

header{
    background-color:#0B1120;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    a{
        text-decoration: none;
        color: white;
        transition: 0.2s ease;
    }
    a:hover{
        font-size: 1.05rem;
    }

    img{
        width: 12rem;
    }
    button{
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #0A84FF;
        color: white;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.2s ease;
        img{
            width: 2rem;
        }
    }
    button:hover{
        background-color: #00AFFF;
    }
}

nav.bem-vindo{
    background-color: #050816;
    color: white;
    padding-left: 35px;
    display: flex;
    align-items: center;

    .azul{
        color: #0A84FF;
        margin-bottom: 20px;
    }

    p.azul{
        font-size: 1.2rem;
    }

    h1{
        font-size: 3.5rem;
    }

    section.botoes{
        display: flex;
        align-items: center;
        gap: 8rem;
        
        img{
            width: 2rem;
            margin: 0;
        }

        a{
            text-decoration: none;

            button.explorar{
                display: flex;
                align-items: center;
                gap: 10px;
                border: none;
                background-color: #00AFFF;
                color: white;
                padding: 8px;
                border-radius: 15px;
                margin-top: 30px;
                margin-left: 30px;
                margin-bottom: 35px;
                cursor: pointer;
                transition: 0.2s ease;
            }
            button.explorar:hover{
                background-color: #0A84FF;
                font-size: 0.9rem;
            }

            button.minigameHome{
                display: flex;
                align-items: center;
                gap: 10px;
                border: 0.9px solid #00AFFF;
                background-color: #050816;
                color: white;
                padding: 8px;
                border-radius: 15px;
                margin-top: 30px;
                margin-bottom: 35px;
                cursor: pointer;
                transition: 0.2s ease;
            }
            button.minigameHome:hover{
                background-color: #02156b;
                font-size: 0.9rem;
            }
        }
    }

    section.dados{
        display: flex;
        justify-content: center;
        gap: 3rem;

        div.textoDados{
            font-size: 15px;
            width: 180px;
            text-align: center;

            div.parteAzul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                color: #0A84FF;
                font-size: 25px;
                
                img{
                    width: 2rem;
                }
            }
        }
    }

    img{
        width: 40rem;
        margin-left: 20px;
    }
}

nav.contHome{
    background-color: #121A3A;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    h2{
        font-size: 2.5rem;
        margin-bottom: 10px;
        padding-top: 20px;
    }
    p{
        font-size: 0.9rem;
    }

    section.contEsquerda{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px;
        margin-left: 100px;
        margin-right: 100px;
        gap: 5rem;
        img{
            width: 30rem;
        }
        div{
            text-align: left;
            h3{
                font-size: 1.5rem;
                padding-bottom: 10px;
            }
            button{
                margin-top: 15px;
                padding: 8px;
                border: none;
                border-radius: 20px;
                background-color: #00AFFF;
                color: white;
                transition: 0.2s ease;
                cursor: pointer;
            }
            button:hover{
                background-color: #0A84FF;
                font-size: 0.9rem;
            }
        }
    }

    section.contDireita{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px;
        margin-left: 100px;
        margin-right: 100px;
        gap: 2rem;
        img{
            width: 30rem;
        }
        div{
            text-align: left;
            h3{
                font-size: 1.5rem;
                padding-bottom: 10px;
            }
            button{
                margin-top: 15px;
                padding: 8px;
                border: none;
                border-radius: 20px;
                background-color: #00AFFF;
                color: white;
                transition: 0.2s ease;
                cursor: pointer;
            }
            button:hover{
                background-color: #0A84FF;
                font-size: 0.9rem;
            }
        }
    }
}

footer{
    background-color: #050816;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 20px;
        width: 40px;
        border-radius: 50%;
        transition: 0.2s ease;
        img{
            width: 2.5rem;
        }
    }
    a:hover{
        transform: scale(1.1);
    }
}